.page-ordering {
    margin-top: 80px;
}

.ordering-back {
    display: flex;
    align-items: center;

    &__title {
        margin-left: 1.5rem;
    }
}

.ordering {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 5rem;

    &__col:first-child {
        flex-basis: 70%;
    }

    &__col:last-child {
        flex-basis: 30%;
        margin-left: 20px;
    }

    &__col {
        width: 100%;
    }

    &__row {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
        border-radius: 26px;
        padding: 60px 30px;
        transition: all .25s;


        &_textarea {
            resize: none;
            outline: none;

            &:focus {
                box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.4);
            }
        }
    }

    &__row:not(:first-child) {
        margin-top: 3rem;
    }

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #8A8382;
    }




    &__hidden-row {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__btn-unhidden {
        border: 1.85016px solid #B8ACA9;
        box-sizing: border-box;
        filter: drop-shadow(0px -1.85016px 64.7555px rgba(255, 255, 255, 0.5)), drop-shadow(0px 27.7524px 46.254px rgba(12, 12, 26, 0.12));
        border-radius: 25px;
        padding: .75rem 3rem;
        text-transform: uppercase;
        cursor: pointer;
        background-color: transparent;
        color: #B8ACA9;
        font-size: 14px;
        line-height: 16px;
    }
}

.ordering-contacts {
    &__row {
        display: flex;
        justify-content: space-between;
        margin-top: 3rem;
    }

    &__row:last-child {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        flex-basis: calc(50% - 50px);

        display: flex;
        flex-direction: column;

        &_btn {
            max-width: 380px;
        }
    }

    &__input {
        margin-top: .75rem;
        height: 60px;
        border: 0.782px solid #B8ACA9;
        border-radius: 7.82px;
        padding-left: 1rem;
        padding-right: 0.5rem;
    }
}

.ordering-row-hidden {
    background-color: #DEDFE9;
}





.ordering-checkout {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    padding: 60px 30px;
    transition: all .25s;
    position: sticky;
    top: 90px;

    &__title {
        font-family: Roboto;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #8A8382;
    }

    &__info {
        display: flex;
        flex-direction: column;
        border-top: 1px dashed #B2B8C5;
        padding-top: 0.75rem;
        margin-top: 0.75rem;
    }

    &__info-span {
        font-size: 18px;
        line-height: 21px;
        color: #6A6464;
        font-weight: 500;
    }

    &__info-date {
        margin-top: 0.75rem;
        font-size: 14px;
        line-height: 16px;
        color: #6A6464;
    }

    &__info-link {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: #6A6464;
        border-bottom: 1px solid #6A6464;
    }

    &__btn {
        margin-top: 1.5rem;
    }

}

.ordering-cost-div {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #6A6464;
    margin-top: 1rem;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item:last-child {
        flex-basis: 30%;
    }
}

.ordering-checkout__info-date_mobile {
    display: none;
}

@media(max-width:1024px) {
    .ordering {
        flex-direction: column;

        &__col:last-child {
            margin-left: 0;
            margin-top: 3rem;
        }
    }

    .ordering-checkout {

        &__info-date {
            display: none;

            &_mobile {
                display: block;
                margin-bottom: .5rem;
            }
        }

        &__btn {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            max-width: 320px;
        }
    }
}

@media(max-width:768px) {
    .ordering-contacts {
        &__row {
            flex-direction: column;
            margin-top: 2rem;
        }

        &__item:not(:first-child) {
            margin-top: 2rem;
        }

        &__row:last-child {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}