.header {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    font-family: $textFont;
    text-align: center;
    color: $main-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


    //plashka
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: $main-bg;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        height: 100%;
        padding: 10px 0;
    }



    &__logo {
        display: flex;
        align-items: center;
        font-family: $mainFont;
        text-decoration: none;
    }

    &__logo-text {
        color: $sec-color;
        text-align: left;
        font-size: 10px;
        margin-left: 5px;
        padding-left: 5px;
        border-left: 1px solid $sec-color;

    }


    &__list {
        display: flex;
        flex-basis: 100%;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        text-transform: uppercase;

    }

    &__link {
        transition: all .25s;
        font-family: $textFont;
        color: $main-color;
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;

        &_active {
            position: relative;
            margin-left: 25px;
            color: #485A83;

            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url(../img/icons/mob-active.svg);
                background-size: contain;
                left: -20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }



    }

    &__burger {
        display: none;
    }
}


.header-contacts {
    text-align: center;
    margin-right: 1rem;

    &__link {
        margin-top: 0.25rem;
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        padding: 0.35rem .5rem;
        border-radius: 50px;
        border: 1px solid $sec-color;
        color: #2C2C2C;
    }

    &__icon {
        width: 16px;
        margin-right: 0.25rem;
    }
}


.header-callback {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    padding: 0.75rem 1.25rem;
    border: 1px solid #B8ACA9;
    border-radius: 50px;
    cursor: pointer;

    &__link {
        text-decoration: underline;
        color: $main-color;
    }


}

.shop-cart {
    position: relative;

    background: #FCFCFC;
    border: 0.5px solid #B8ACA9;
    box-sizing: border-box;
    box-shadow: 0px 10px 25px rgba(12, 12, 26, 0.05);
    border-radius: 50px;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-right: 1rem;

    &::before {
        content: '';
        position: absolute;
        height: 90%;
        border-left: 1px solid $sec-color;
        left: -1rem;
    }

}

.lang-choise {
    &__btn {
        color: $main-color;
        font-weight: 700;
    }
}




.li-contacts-mob {
    display: none;
}


.lang-choice-mob {
    display: none;
}





.link-hover {
    position: relative;
    cursor: pointer;
    padding: 1rem .5rem;

    &::after {
        content: '';
        position: absolute;
        bottom: -14px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $main-color;
        width: 100%;
        transition: all .3s;

        transform: scale(0);
    }

    &:hover {
        &:after {
            transform: scale(1);
        }
    }
}

@media(max-width:1370px) {
    .header {
        font-size: 0.8rem;
    }
}

@media(max-width:1300px) {
    .header {
        font-size: 0.7rem;
    }
}

@media (max-width: 1260px) {

    .li-contacts-mob {
        display: block;
        width: 100%;
    }

    .lang-choice-mob {
        margin-right: 30px;
        color: #958B88;
        display: flex;
        align-items: center;
    }

    .lang-choise-mob__btn {
        font-size: 16px;
        color: #958B88;
        background-color: transparent;
        margin: 0 0.5rem;
    }

    .header-callback {
        display: none;
    }


    .header__list {
        li {
            width: 100%;
        }
    }

    .header__link {
       
        &_lang {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .header-contacts {
        display: none;
    }


    .lang-choice {
        display: none;
    }

    .shop-cart {
        margin-right: 30px;

        &::before {
            display: none;
        }
    }





    .header__list {
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        z-index: 1000;
        top: 65px;
        right: -100%;
        width: 100%;
        height: 100vh;
        overflow: auto;
        padding: 20px 15px;
        transition: .8s;
        background-image: url(../img/bg/mobile-menu-bg.png);
        background-size: cover;
        background-position: 50% 50%;
        background-color: #fff;
        text-align: left;
        align-items: flex-start;


    }

    .menu_active {
        right: 0;
    }


    .header__logo {
        flex-basis: 100%;
    }



    .header__burger {
        display: block;
        position: fixed;
        z-index: 1100;
        right: 7.5px;

        width: 25px;
        height: 25px;
    }

    .header__burger span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border: .5px solid $sec-color;

    }

    .header__burger span:not(first-child) {
        margin-top: 3px;
    }

    .burger_active span {
        transition: all .3s;
        background-color: $sec-color;
    }

    .burger_active span:nth-child(1) {
        transform: rotate(-45deg);
        margin-top: 8px;

    }

    .burger_active span:nth-child(2) {
        display: none;
    }

    .burger_active span:nth-child(3) {
        transform: rotate(45deg);
        border-top: 1px solid transparent;
        margin-top: -3px;
    }
}


.contacts-mobile-menu {
    margin-top: 1rem;
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 2px dashed #ccc;
    align-self: center;

    .header-contacts {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;

        &__link-wrap {
            display: flex;
            justify-content: space-around;
        }
    }

    .header-callback {
        display: inline-flex;
        text-align: center;
        max-width: 200px;
        justify-content: center;
        align-self: center;
        margin-top: 1.5rem;

        &__num {
            background-color: #fff;
        }
    }
}

.scroll_down {
    display: none;
}

@media(min-width:1024px) {
    .scroll_down {
        background-color: transparent;
        outline: none;
        cursor: pointer;
        display: block;
        width: 100%;

        img {
            display: block;
            margin: 0 auto;
            transform: translate3d(0, - 30%, 0);
            animation: spin 4.2s infinite ease;
        }
    }

    @keyframes spin {

        0%,
        100% {
            transform: translate(0, 0);
        }

        50% {
            transform: translate(0, 30%);
        }
    }
}



.header-bgc .header {
    transition: all .5s;
    box-shadow: 0 0 12px 0px #000c31a9;
    background-color: $main-bg;
}

.header-none-bgc .header {
    background-color: none;
    transition: all .5s;
}