.section-page1 {
    position: relative;
    max-width: 1980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 125px;
    padding-bottom: 25px;
    display: block;
}

.page1-wrap {
    display: flex;

    &__img {
        width: 100%;
        max-width: 100%;
    }
}

.page1 {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    padding: 0 15px;
    flex: 0 0 100%;

    &__body {
        width: 50%;
    }

    &__descr {
        border-left: 2px solid $main-color;
        padding-left: 15px;
        font-size: 14px;
        margin-top: 1rem;
    }


}

.page1-h1 {
    display: flex;
    position: relative;


    &__title {
        position: relative;
        text-transform: uppercase;
        font-size: 1.75rem;
        margin-bottom: 0;
        margin-top: 0;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 30;
            display: none;
        }

    }

    &__title-decor {
        position: relative;
        display: block;
        margin-left: 110px;
        margin-top: 20px;

        &::before {
            content: '';
            position: absolute;
            z-index: 10;
            background-image: url(../img/svg/h1-line.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 450px;
            height: 120px;
            top: -10px;
            left: calc(-100% - 160px);
        }
    }

    &__decor-text {
        display: block;
        transform: translateX(35px);
        padding: 0.25rem .5rem;
        border-radius: 5px;
        margin-top: -.35rem;
    }

    &__span {
        display: block;
        z-index: -1;

    }

    &__span-bg {
        position: relative;
        z-index: 30;
        background-color: $main-bg;

    }
}

.advantages {
    display: flex;
    margin-top: 3rem;

    &__item {
        display: flex;
        align-items: flex-start;

    }

    &__item:first-child {
        flex-basis: 40%;
    }

    &__item:not(:first-child) {
        margin-left: 15px;
    }

    &__icon {
        margin-right: 0.5rem;
        width: 30px;
    }
}


@media(min-width:1024px) {
    .page1-wrap-img-container {
        flex: 0 0 50%;
        margin-top: -50px;
        transform: translateX(calc(-100% + 15px));
    }
}

@media(min-width:1200px) {
    .page1-wrap-img-container {
        flex: 0 0 60%;
        margin-top: -50px;
        transform: translateX(calc(-100% + 15px));
    }
}

@media(max-width:1050px) {
    .page1-h1 {

        &__title {


            &::before {
                display: block;

            }
        }
    }
}


@media(max-width:1024px) {
    .advantages {
        flex-direction: column;
        align-items: flex-start;

        &__item:not(:first-child) {
            margin-left: 0;
            margin-top: 25px;
        }
    }

    .page1-h1 {

        &__title {
            max-width: 50%;
        }

        &__title-decor {
            margin-left: 40px;
            margin-top: -10px;

            &::before {
                content: '';
                position: absolute;
                z-index: 10;
                background-image: url(../img/svg/h1-line768.svg);
                background-size: contain;
                background-repeat: no-repeat;
                width: 450px;
                height: 120px;
                top: -5px;
                left: calc(-102.5%);

            }
        }
    }

    .page1-wrap-img-container {
        position: relative;
        z-index: 10;
        flex: 0 0 70%;
        margin-top: -50px;
        transform: translateX(calc(-100% + 15px));
    }
}


//mobile
.iso-dot-svg {
    width: 20px;
    height: 20px;

}

.page1-btn {
    display: none;
}

.page1-btn768 {
    display: none;

}

@media(min-width:769px) {
    .iso-dot-svg {
        width: 20px;
        height: 20px;
        display: none;
    }

    .page1-wrap-img-container768 {
        display: none;
    }

    .page1-btn {
        display: block;
    }
}

@media(max-width:768px) {
    .page1-wrap-img-container {
        display: none;
    }

    .page1-wrap-img-container768 {
        margin-top: -100px;
    }

    .advantages {
        display: none;
    }

    .page1-btn768 {
        display: flex;
        justify-content: center;

        a {
            margin-top: 0;
        }
    }


    .page1-wrap {
        flex-direction: column;

    }

    .page1 {
        &__body {
            width: 100%;
        }

        &__descr {
            margin-left: 9px;
        }
    }

    .page1-h1 {

        flex-direction: column;

        &__title {
            max-width: 100%;
            font-size: 22px;
        }

        &__span {
            display: inline;
        }

        &__title-decor {
            margin-top: 1.5rem;
            margin-left: 0;
            display: flex;
            align-items: center;

            &::before {
                display: none;
            }
        }

        &__decor-text {
            display: block;
            transform: translateX(0);
            padding: 0.25rem .5rem;
            border-radius: 5px;
            margin-top: 0;
        }
    }
}