.section-partnersSlider {
    padding: 50px 0;
}

.partnersSliderContent {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
        min-width: 0;
        flex-basis: 35%;


    }


    &__item:last-child {
        flex-basis: 75%;
        max-width: 830px;
        margin-left: auto;
    }


    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;

        color: #414141;
    }

    &__p {
        margin-top: 40px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        width: 100%;
        line-height: 1.35;
        max-width: 550px;
        color: #6A6464;
    }
}



.swiper-container_partners {


    .swiper-slide {
        position: relative;
        border-radius: 20px;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 25px;
            bottom: -25px;
            right: 75px;
            left: 25px;
            border: 1px solid #000C31;
            border-radius: 20px;
        }

        img {
            border-radius: 20px;


        }
    }
}

@media(max-width:1024px) {
    .partnersSliderContent {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__item {
            min-width: 0;
            flex-basis: auto;


        }

        &__item:last-child {
            flex-basis: 85%;
            max-width: 830px;
            margin-left: auto;
        }
    }
}


@media(max-width:768px) {
    .partnersSliderContent {
        flex-direction: column;
        align-items: center;

        &__item {
            flex-basis: 100%;
            min-width: 0;
            max-width: 100%;

            &_w50 {
                flex-basis: 100%;
            }
        }
    }
}


.swiper-button-next,
.swiper-button-prev {
    color: #000C31;
}

@media(max-width:550px) {

    .slide__text {
        padding-left: 35px;
        padding-right: 35px;
    }

    .mob-swiper {
        margin-top: 40px;
        padding-top: 0;
    }


.swiper-container_partners {


    .swiper-slide {
        position: relative;
        border-radius: 20px;

        &::before {
            content: '';
            position: absolute;
            z-index: -1;
            top: 25px;
            bottom: -10px;
            right: 25px;
            left: 0;
            border: 1px solid #000C31;
            border-radius: 20px;
        }

        img {
            border-radius: 20px;


        }
    }
}
}