.service-steps {
    margin-top: 75px;

    &__row {
        display: flex;
        justify-content: space-between;
        width: 612px;
        margin-left: auto;
        margin-right: auto;
    }



    &__item:last-child {
        margin-left: 20px;
    }
}

.service-step {

    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    text-align: center;
    padding: 20px 20px 40px;
    width: 249px;
    line-height: 20px;


    &::after {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        border-radius: 26px;
    }

    &__title {
        text-transform: uppercase;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;

        color: #414141;
        position: relative;
        z-index: 10;
    }

    &__icon {
        position: relative;
        z-index: 10;
    }

    &__text {
        font-size: 16px;
        position: relative;
        z-index: 10;
        margin-top: 25px;
    }

    &__btn {
        align-self: flex-end;
        margin-left: 10px;
        border-radius: 25px;
    }

    &_1 {
        align-self: flex-start;
        height: 298px;

    }

    &_2 {
        position: relative;
        margin-top: 110px;
        height: 298px;

        &::before {
            content: '';
            position: absolute;
            top: -155px;
            left: -140px;
            width: 280px;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/svg/service-icon/s-line1.svg);
        }
    }

    &_3 {
        position: relative;
        height: 207px;

        &::before {
            content: '';
            position: absolute;
            top: -168px;
            right: -135px;
            width: 281px;
            height: 200px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/svg/service-icon/s-line2.svg);
        }
    }

    &_4 {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -67px;
            width: 275px;
            height: 125px;
            left: -129px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/svg/service-icon/s-line3.svg);
        }
    }
}


.btn-steps {
    width: 260px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-bg {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #fff;
        border-radius: 24px;
    }

    &__text {
        position: relative;
        z-index: 2;
    }
}



.uniq-service-text {
    margin-right: 60px;

}


//adapt 

@media(max-width:1024px) {
    .service-step_2::before {
        content: '';
        position: absolute;
        top: -147px;
        left: -149px;
        width: 300px;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/svg/service-icon/s-line1.svg);
    }

    .service-step_3::before {
        content: '';
        position: absolute;
        top: -166px;
        right: -145px;
        width: 291px;
        height: 210px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/svg/service-icon/s-line2.svg);
    }

    .service-step_4::before {
        content: '';
        position: absolute;
        top: -60px;
        width: 285px;
        height: 130px;
        left: -138px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../img/svg/service-icon/s-line3.svg);
    }
}