.uniq-service {
    margin-top: 75px;
    border-top: 2px dashed #B2B8C5;
    border-bottom: 2px dashed #B2B8C5;
    padding: 225px 0 50px;

    &__h2 {
        margin-left: 20px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 44px;
        text-transform: uppercase;

        color: #000C31;
    }

    &__h3 {
        width: 612px;
        margin-left: auto;
        margin-right: auto;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;

        color: #414141;
    }

    &__row {
        display: flex;
    }

    &__item {
        flex-basis: 50%;
    }

    &__item:first-child {
        border-right: 2px dashed #B2B8C5;
        padding-right: 20px;
        margin-top: -150px;
        padding-bottom: 450px;
    }

    &__item:last-child {
        padding-left: 20px;
        flex-shrink: 0;
    }
}

.uniq-service-text {
    position: relative;
    margin-top: 60px;
    padding: 65px;
    padding-top: 20px;
    background-color: #DEDFE9;
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
    border-radius: 26px;
    margin-left: 20px;
    width: 600px;

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;

        color: #414141;
    }

    &::before {
        content: '';
        position: absolute;
        width: 187px;
        height: 187px;
        left: -90px;
        bottom: -90px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../img/svg/service-icon/white-circle.svg);
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #DEDFE9;
        border-radius: 26px;
    }

    &__dot-icon {
        position: relative;
        z-index: 2;
        display: block;
        margin-left: auto;
        width: 80px;
        height: 80px;
        transform: translateX(40px);
    }

    &__title {
        position: relative;
        z-index: 2;
        text-transform: uppercase;
        color: #414141;
    }

    &__p {
        position: relative;
        z-index: 2;
        color: #6A6464;
        margin-top: 50px;
        line-height: 1.5;
    }
}




@import 'service-steps';










@media(max-width:1400px) {
    .uniq-service {
        padding: 160px 0;
        border: none;
        margin-top: 0;
    }

    .uniq-service__row {
        flex-direction: column;
        align-items: center;
    }

    .uniq-service__item:first-child {
        border: none;
        padding-bottom: 100px;
        margin-top: 0;
    }
}


@media(max-width:768px) {

    .uniq-service {
        padding: 75px 0;


    }

    .service-steps__row {
        width: auto;
        flex-direction: column;
        align-items: center;
    }

    .uniq-service__h3 {
        width: auto;
        text-align: center;
    }

    .service-steps__item:not(:first-child) {
        margin-top: 50px;
    }

    .service-steps__row:last-child {
        margin-top: 50px;
    }

    .service-step_4 {
        margin-top: 50px;
        align-self: center;
    }

    .service-step_1 {
        align-self: center;
    }

    .service-step_2 {
        height: auto;
        align-self: center;

        &::before {
            display: none;
        }
    }

    .service-step_3::before {
        display: none;
    }

    .service-step_4::before {
        display: none;
    }



    .service-steps__item:last-child {
        margin-left: 0;
    }

    .uniq-service__h2 {
        margin-left: 0;
        font-size: 24px;
        text-align: center;
    }


    .uniq-service-text {
        margin-right: 0;
        width: auto;
    }
}




@media(max-width:550px) {
    .uniq-service-text {
        margin-top: 50px;
        padding: 65px 20px;
    }

    .uniq-service__h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;

        color: #000C31;
    }

    .uniq-service__h3 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;

        color: #414141;
    }

    .uniq-service-text__dot-icon {
        display: none;
    }

    .uniq-service-text__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #414141;
    }

    .uniq-service-text__p {
        margin-top: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;

        color: #6A6464;
    }
}



@media(max-width: 425px) {

    .uniq-service__item:last-child {
        padding-left: 0;
    }
}