.section-calc {


    label {
        color: #6A6464;
    }

    label:not(:first-child) {
        display: inline-block;
        margin-top: 1.25rem;
    }
}

.calc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 0;
    border-bottom: 2px dashed #B2B8C5;

    &__title {
        position: relative;
        font-size: 42px;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            background-image: url(../img/svg/calc-title-circle.svg);
            background-size: contain;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            width: 245px;
            height: 250px;
            bottom: -45px;
            left: -26%;
        }
    }

    &__title-text {
        position: relative;
        z-index: 10;
    }
}

.calc-price {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #6A6464;

    &__title {
        font-size: 1.2rem;

    }

    &__num {
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 20px;
    }

    &__btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    &__btn-single {
        text-align: center;
        margin-top: 1.5rem;
    }
}


@media(max-width:1240px) {
    .calc__title {
        &:before {
            background-image: none;
            background: #FDFDFD;
            opacity: 0.5;
            box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);
            width: 120px;
            height: 120px;
            border-radius: 50%;
            bottom: -35px;
            left: -24%;
        }

        &:after {
            content: '';
            position: absolute;
            border: 1px solid #000C31;
            box-sizing: border-box;
            border-radius: 26px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
            width: 76px;
            height: 82px;
            right: -61px;
            top: -30px;
        }
    }
}

@media(max-width:550px) {
    .calc__title {

        &:before {
            top: 20px;
            width: 187px;
            height: 187px;
            left: -130px;
        }


        &::after {
            display: none;
        }
    }



    .calc__title-text_partnersForm {
        font-size: 24px;
    }


}











/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;

}

.select {
    border: 1px solid #B8ACA9;
    border-radius: 12px;
    margin-top: 10px;

}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 530px;
    height: 75px;
    line-height: 3;
    background: transparent;
    overflow: hidden;
    border-radius: .25em;
    transition: all .25s;

}

select {
    flex: 1;
    padding: 0 .5em 0 35px;
    cursor: pointer;
    color: #6A6464;
    transition: all .25s;
}

/* Arrow */
.select::after {
    content: '';
    position: absolute;
    background-image: url(../img/svg/select-arrow.svg);
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.select:hover {
    background-color: #6a64642d;
}


@media(max-width:768px) {
    .calc {
        flex-direction: column;

        &__title {
            text-align: center;
            font-size: 24px;
        }

        &__item:last-child {
            margin-top: 2rem;
        }


    }

    .calc-price {

        &__btn {
            justify-content: center;
            margin-top: 1.5rem;
        }
    }
}