.main-btn {
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-family: $textFont;
    border: 2px solid $green;
    color: $green;
    letter-spacing: .35px;
    padding: 0.75rem 2.75rem;
    text-decoration: none;
    transition: all .25s;

    &:hover {
        color: #fff;
        background-color: darken($green, 20%);
        border-color: darken($green, 20%);
        box-shadow: 0 0 4px 1px darken($green, 30%);
    }

    &:active {
        background-color: darken($green, 35%);
    }
}