.tariffs {
    text-align: center;
    margin-top: 3rem;
    color: #fff;

    &__title {
        font-family: $mainFont;
        font-size: 1.4rem;

        &_hidden {
            opacity: 0;
        }
    }


    &__row {
        display: flex;
    }

    &__item {
        padding: 0 .25rem;
    }

    &__item:first-child {
        border-left: 2px dashed #fff;
    }

    &__item:nth-child(2) {
        border-left: 2px dashed #fff;
        border-right: 2px dashed #fff;
    }

    &__item:last-child {
        border-right: 2px dashed #fff;
    }

    &__descr {
        margin-top: 0.75rem;
    }

    &__descr2 {
        margin-top: 0.5rem;
    }
}

@media(max-width:550px) {
    .tariffs {
        &__row {
            flex-direction: column;

        }

        &__item {
            border-bottom:  2px dashed #fff;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }

        &__item:first-child {
            border-left: none;
        }

        &__item:nth-child(2) {
            border-left: none;
            border-right:none;
        }

        &__item:last-child {
            border-right:none;
        }
    }
}