.main_h2 {
    font-family: $mainFont;
    text-align: center;
    padding-top: 3rem;
    font-size: 36px;
    color: $main-color;
    text-transform: uppercase;

    &_border_bottom {
        padding-bottom: 1.5rem;
        border-bottom: 2px dashed #B2B8C5;
        max-width: 420px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media(max-width:550px) {
    .main_h2 {
        font-size: 1.4rem;
    }
}