.main_h2 {
    font-family: $mainFont;
    text-align: center;
    padding-top: 3rem;
    font-size: 36px;
    color: $main-color;
    text-transform: uppercase;

   

}

@media(max-width:550px) {
    .main_h2 {
        font-size: 24px;
    }
}