.section-materials {
    margin-top: 100px;
}

.materials {
    margin-top: 100px;



    &__title {

    }
    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex-basis: 33%;
    }

    &__item:not(:first-child) {
        margin-left: 50px;
    }
}

.material {
    display: flex;
    flex-direction: column;

    &__img-div {
        display: inline-block;
        text-align: center;
        position: relative;
        align-self: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 24px;

        &::before {
            content: '';
            position: absolute;
            max-width: 320px;
            top: -30px;
            right: 30px;
            bottom: 30px;
            width: 100%;
            border-radius: 24px;
            background-color: $main-bg;
            box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
        }
    }

    &__img {
        height: 315px;
        object-fit: cover;
        max-width: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
        border: 1px solid $main-color;
        border-radius: 24px;

    }

    &__text {
        margin-top: 80px;
        max-width: 85%;
        margin-left: auto;
    }

    &__list {
        list-style: none;
        font-size: 16px;
        line-height: 125%;
    }

    &__title {
        font-size: 24px;
        display: flex;
        color: #6A6464;
    }

    &__title-icon {
        margin-right: 0.5rem;
    }

    &__list {
        margin-top: 1rem;
    }

    &__li:not(:first-child) {
        margin-top: 0.5rem;
    }

    &__tere {
        color: $main-color;
    }
}

@media(max-width:1024px) {

    .material__title {
        font-size: 22px;
    }

    .material__text {
        margin-left: 0;
        max-width: 95%;
    }
    .material__img-div {
        max-width: 90%;
    }
}

@media(max-width:1000px) {
    .materials {
        &__row {
            flex-direction: column;
        }

        &__item:not(:first-child) {
            margin-top: 100px;
            margin-left: 0;
        }
     
    }

    .material {}
}


@media(max-width:550px) {
    .material {


        &__text {
            margin-top: 1.75rem;
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}