.section-materials {
    margin-top: 2rem;
}

.materials {
    margin-top: 4rem;



    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex-basis: calc(33.333% - 20px);
    }
}

.material {
    display: flex;
    flex-direction: column;

    &__img-div {
        display: inline-block;
        text-align: center;
        position: relative;
        align-self: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 24px;

        &::before {
            content: '';
            position: absolute;
            max-width: 320px;
            top: -20px;
            right: 20px;
            bottom: 20px;
            width: 100%;
            border-radius: 24px;
            background-color: $main-bg;
            box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
        }
    }

    &__img {
        max-width: 320px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px solid $main-color;
        border-radius: 24px;

    }

    &__text {
        margin-top: 1.75rem;
        max-width: 85%;
        margin-left: auto;
    }

    &__list {
        list-style: none;
    }

    &__title {
        display: flex;
        color: #6A6464;
    }

    &__title-icon {
        margin-right: 0.5rem;
    }

    &__list {
        margin-top: 1rem;
    }

    &__li:not(:first-child) {
        margin-top: 0.5rem;
    }

    &__tere {
        color: $main-color;
    }
}

@media(max-width:850px) {
    .materials {
        &__row {
            flex-direction: column;
        }

        &__item:not(:first-child) {
            margin-top: 3rem;
        }
    }

    .material {}
}


@media(max-width:550px) {
    .material {


        &__text {
            margin-top: 1.75rem;
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}