.products {
    margin-top: 150px;

    &__title {
        position: relative;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;

        color: #000C31;

        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            transform: translateX(10px);
            background-image: url(../img/svg/title-dots.svg);
            background-size: contain;
            background-repeat: no-repeat;
            width: 40px;
            height: 20px;
        }
    }

    &__row {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item:last-child {
        flex-basis: 50%;
        max-width: 600px;
    }

    &__img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 2;
        background-color: #DEDFE9;
        box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
        border-radius: 26px;
        max-width: 40%;
        margin-right: 0;

        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(-30px, -30px);
            border: 1px solid $main-color;
            border-radius: 26px;
        }

        &::after {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #DEDFE9;
            border-radius: 26px;
        }
    }

    &__img {
        position: relative;
        transform: scale(1.2);
        z-index: 10;
        height: 320px;
        width: 320px;
        object-fit: contain;
    }

}

.products__item_content {
    margin-left: 60px;
}

.products-descr {
    margin-top: 30px;

    &__title {
        color: $sec-color;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 122.69%;
        color: #6A6464;
    }

    &__text {
        font-family: Roboto;
        font-style: normal;
        font-size: 16px;
        line-height: 122.69%;
        margin-left: 15px;

        color: #6A6464;
    }

    &__icon {
        width: 8px;
        height: 8px;
        margin-right: 0.25rem;
    }

    &__list {
        list-style: none;
        margin-top: 20px;
    }

    &__li {
        display: flex;
        align-items: center;
    }

    &__li:not(:first-child) {
        margin-top: .5rem;
    }

}

.thumb-btn {
    display: flex;
    align-items: center;
    margin-top: 60px;

    &__img-div {
        display: flex;
    }

    &__img {
        max-width: 100px;
        background-color: #DEDFE9;
        border-radius: 7px;
        border: 1px solid $main-color;
        padding-top: 10px;
        padding-bottom: 10px;
        flex-shrink: 0;
    }

    &__img:last-child {
        margin-left: 40px;
        margin-right: 60px;
    }

}
.js-product-change {
    opacity: .5;
}
.js-product-change_1.thumb-btn__img_active {
    opacity: 1;
}
.js-product-change_2.thumb-btn__img_active {
    opacity: 1;
}






@media(max-width:950px) {
    .thumb-btn {
        flex-direction: column;
        align-items: flex-start;

        .btn-calc {
            margin-top: 1.5rem;
        }
    }
}

@media(max-width:768px) {
    .products {
        margin-top: 2rem;

        &__tilte {
            br {
                display: none;
            }
        }

        &__img-div {
            margin-right: 0;
            margin-top: 60px;
            max-width: 60%;
        }

        &__row {
            flex-direction: column-reverse;

        }
    }

    .thumb-btn__img:last-child {
        margin-right: 0;
    }

    .products__item_content {
        margin-left: 0;
    }

    .thumb-btn {
        align-items: center;
    }

}

.products-descr__text {
    max-width: 440px;
}

@media(max-width:550px) {
    .section-page1 {
        padding-top: 150px;
    }

    .products__title {
        font-size: 20px;
    }

    .products-descr__text {
        margin-left: 10px;
    }

    .products__img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        margin-top: 55px;
        height: 200px;
    }

    .thumb-btn .btn-calc {
        margin-top: 30px;
    }
}

@media(max-width:375px) {
    .products {

        &__title {

            &::after {
                display: none;
            }
        }
    }
}


.products__img {
    display: none;

    &_active {
        display: block;
    }
}