@media(min-width:1001px) {

    .mob-swiper {
        display: none;
    }
}

.mob-swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 2rem 0;
    --swiper-theme-color: $sec-color;
    margin-top: 1.25rem;
}



.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}




//single-slide
.swiper-slide {

    padding: 0 50px;

}

.slide {
    text-align: center;
}

.slide-content {
    margin-top: 1.5rem;
    width: 100%;
    display: flex;
    padding-bottom: 50px;

}



.slide__icon {
    width: 42px;
    height: 42px;
}

.slide__text {
    color: $sec-color;
    margin-top: 1rem;
    font-size: 14px;
}