.single-product_page {
    align-items: flex-start;
    justify-content: center;
}

.single-product__item_page-single-product {
    flex-basis: 40%;

}

.single-product__item_page-single-product:last-child {
   
    margin-left: 70px;
    flex-basis: 100%;
    max-width: 700px;
}


.single-product-advantages__text {
    font-size: 18px;
}

.single-product-choice__descr {
    font-size: 18px;

    span {
        font-weight: 700;
    }
}

.single-product__calc label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #6A6464;
}

.single-product-labels {
    position: relative;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 2px dashed #DEDFE9;
    z-index: 10;

    &__item {
        display: flex;
        align-items: center;
    }

    &__span {
        margin-left: 0.5rem;
    }
}

.single-product-material {
    &__title {
        font-family: $textFont;
        color: #6A6464;
        font-size: 20px;
        font-weight: 500;
    }

    &__list {
        list-style: none;

        svg {
            object-fit: contain;
            flex-shrink: 0;
            margin-right: 0.5rem;
            margin-top: 5px;
        }

        li {
            display: flex;
            align-items: flex-start;
            margin-top: 1rem;

        }

    }
}

.page-single-product {
    margin-top: 5%;

    &__cost-div {
        margin-top: 1.5rem;
        display: flex;
        align-items: flex-end;

        .counter {
            margin-left: 1.5rem;
        }
    }

    &__counter {
        margin-left: 1.5rem;
    }

    &__selects {
        margin-top: 1.5rem;

        label {
            font-weight: 700;
            color: #6A6464;
            font-size: 20px;
        }
    }

    &__cost {
        color: #6A6464;
        font-weight: 900;
        font-size: 32px;
    }

    &__cost-span {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 0.5rem;
        display: inline-block;
    }

    &__btn {
        margin-top: 40px;
    }
}


.page-single-product__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;

    color: #000C31;
}



.more-option {
    display: inline-block;
    margin-top: 1.5rem;
}



.page-single-product-calc {
    margin-top: 80px;

    &__cost {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 39.8824px;

        text-transform: uppercase;

        color: #6A6464;
    }
}

.single-product-advantages__text {
    margin-left: 10px;
}


.single-product__text-thin {
    font-weight: 400;
}


@media(max-width:1240px) {

    .single-product {
        align-items: center;
    }

    .single-product__info {
        display: flex;
        align-items: center;
    }

    .review-list {
        border-bottom: none;
        border-right: 1px dashed #B2B8C5;
        padding-right: 40px;
        margin-right: 40px;
        flex-basis: 50%;
    }

    .single-product__advantages {
        flex-basis: 50%;
    }

    .single-product__h2 {
        text-align: center;
    }

    .single-product__span-bg-index {
        font-size: 48px;
    }

    .single-product__span {
        width: 100%;
    }

    .single-product__text-thin br {
        display: none;
    }


    .single-product__info {
        margin-top: 60px;
    }
}


.single-product-labels {
    font-weight: 700;
}



@media(max-width:1024px) {
    .single-product__list {
        font-size: 14px;
    }
    .single-product-product::before {
        display: none;
    }
    .single-product-replace-bottom-wrap .review-list {
        margin-bottom: 10px;
    }
}


@media(max-width:1240px) {
    .page-single-product__title {
        font-size: 24px;
        line-height: 29px;
    }

    .single-product__item_page-single-product:last-child {
        margin-left: 50px;

    }

    .single-product__item_page-single-product {
        flex-basis: 60%;
    }
}



.single-product-replace-bottom-wrap {
    .single-product-replace-top {
        margin-top: 60px;
        max-width: 620px;
    }

    .review-list {
        border: none;
        margin-right: 0;
        padding-right: 0;
    }
}


@media(max-width:1000px) {
    .single-product {
        flex-direction: column;

        &__span-bg {
            &::after {
                width: 100%;
            }
        }
    }

    .single-product-product {
        margin-top: 60px;
        max-width: 620px;
    }

    .page-single-product__title {
        text-align: center;
    }

    .section-single-product {
        padding-bottom: 80px;
    }


}


@media(max-width:802px) {
    .single-product__info {
        flex-direction: column;
        border-right: none;
    }

    .review-list {
        border-right: 0;
        margin-right: 0;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px dashed #B2B8C5;
    }
}



@media(max-width:768px) {


    .single-product__item_page-single-product:last-child {
       
        margin-left: 0;
    }

    .page-single-product {
        &__btn {
            display: flex;
            width: 100%;

            button {
                width: 100%;
            }
        }
    }

}



@media(max-width:650px) {
    .page-single-product__title {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;

        color: #000C31;
    }

    .single-product-product {
        padding-left: 10px;
        padding-right: 10px;
    }

    .page-single-product-calc__cost {
        display: block;
        font-size: 28px;
        text-align: center;
    }
    .page-single-product-calc {
        margin-top: 10px;
    }

    .page-single-product__selects label {
        font-size: 18px;
    }
    select {
        font-size: 18px;
    }

  
}
.counter {
    font-size: 18px;
    font-weight: 700;
    color: #6A6464;
}

@media(max-width:550px) {
    .single-product__h2 {
        font-size: 24px;
        text-align: left;
    }

    .single-product__span-bg {
        font-size: 24px;
    }

    .single-product__span-bg-index {
        font-size: 21px;
    }

    .single-product__info {
        margin-top: 10px;
    }

    .single-product__span {
        font-size: 21px;
    }
}