.footer {
    padding: 2rem 0;
    background-color: #fff;

    a {
        text-decoration: none;
        color: #6D6E6E;
    }

    &__logo {
        width: 106px;
        height: 73px;
    }


    &__row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__row:last-child {
        justify-content: center;
        margin-top: 2rem;
    }

    &__logo-nav {
        width: 100%;
        display: flex;
    }

    &__nav-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__nav {
        width: 100%;
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;

    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        max-width: 200px;
        flex-shrink: 0;
    }

    .header-contacts {
        margin-right: 0;
    }

    .header-callback {
        margin-top: 30px;
        margin-right: 0;

        &__num {
            background-color: #fff;
            text-align: center;
        }
    }

    &__link:nth-child(2) {
        margin: 0 2.5rem;
    }
}

.footer__whatsApp {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .header-contacts__link {
        margin-top: 10px;
    }
}

.header-callback_footer {
    a:first-child {
        background-color: #fff;
    }
}

@media (max-width: 1260px) {

    .footer {
        .header-contacts {
            display: block;
        }

        .header-callback {
            display: flex;
        }
    }
}

.js-replaceFooterContacts {
    margin-top: 50px;
    line-height: 1.5;
}

@media(max-width:1160px) {



    .footer {
        &__row {
            align-items: stretch;
        }
    }

    .footer__contacts {
        margin-top: 28px;
    }


    .js-replaceFooterContacts {
        margin-top: 30px;

        a:not(:first-child) {
            margin-top: 10px;
        }
    }




    .footer__nav {
        max-width: 100%;
    }


    .footer__nav_pc {
        max-width: 70%;
    }


    .footer {

        &__contacts {
            margin-bottom: 0;
            flex-basis: auto;
            flex-shrink: 1;
        }


    }

    .footer__nav-wrapper {
        width: auto;
    }

    .footer__logo-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .js-replaceFooterContacts {
        display: flex;
        flex-direction: column;
    }

    .footer__link:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }
}

.footer__nav_mob {
    display: none;
}

.footer__row-mob {
    display: none;
}



.footer__img-logo-wrapper {
    display: flex;
}



@media(max-width:960px) {

    .footer {
        &__row {
            align-items: flex-start;
        }
    }



    .footer__row-mob {
        display: block;
    }

    .footer__row-mob {
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 2px dashed #B2B8C5;

        a:nth-child(2) {
            margin-top: 15px;
        }

        span {
            margin-top: 15px;
        }
    }


    .footer__logo-nav {
        flex-basis: 50%;
    }

    .js-replaceFooterContacts {
        display: none;
    }

    .footer__nav_mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;

        li:not(:first-child) {
            margin-top: 20px;
        }
    }

    .footer__nav_pc {
        display: none;
    }

    .footer__whatsApp .header-contacts__link {
        margin-top: 20px;
    }

    .footer .header-callback {
        margin-top: 40px;
        max-height: 50px;

    }

    .header-callback_footer a:first-child {
        font-size: 18px;
        margin-top: -5px;
    }

    .header-callback a:last-child {
        font-size: 14px;
        margin-top: -5px;
    }

    .footer__contacts {
        margin-top: 15px;
        margin-left: 10px;
        text-align: right;
    }

    .footer__nav-a {
        font-size: 14px;
    }


}