.contacts {
    padding: 5rem 0 7.5rem;

    &__row {
        display: flex;
    }

    &__item {
        flex-basis: 50%;
    }

    &__item:first-child {
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }

    &__item:last-child {
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
        border-radius: 26px;
        padding: 50px 120px;
        margin-right: 75px;

        &::before {
            content: '';
            position: absolute;
            top: -50px;
            right: -50px;
            width: 150px;
            height: 150px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/svg/circle-square.svg);

        }

        &::after {
            content: '';
            position: absolute;
            bottom: -90px;
            right: -90px;
            width: 180px;
            height: 180px;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(../img/svg/circle-square.svg);
        }
    }
}

.contacts-tel-email {
    display: flex;
    flex-direction: column;

    &__link {
        color: #8A8382;
        text-decoration: none;

    }

    &__link:first-child {
        font-size: 32px;

    }

    &__link:last-child {
        margin-top: 1.25rem;
    }

    &__adress {
        margin-top: 2.5rem;
    }
}

.contacts-form {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    &__input {
        height: 50px;
        padding-left: 1.5rem;
        padding-right: 0.5rem;
        border: 0.782px solid #B8ACA9;
        border-radius: 7.82px;
    }

    &__input:not(:first-child) {
        margin-top: 1.5rem;
    }

    &__textarea {
        margin-top: 1.5rem;
        border: 0.782px solid #B8ACA9;
        padding-left: 1.5rem;
        padding-right: 0.5rem;
        border-radius: 7.82px;
        padding-top: 20px;
        height: 120px;
        resize: none;
    }

    &__btn {
        margin-top: 1.5rem;
    }
}

.map-border {
    position: relative;
    border-radius: 20px;
    right: -50px;

    &::before {
        content: '';
        position: absolute;
        top: 25px;
        right: 25px;
        bottom: 0;
        left: 0;
        border: 1px solid #000C31;
        border-radius: 20px;
        left: -25px;
        bottom: -25px;
    }
}

#map-9cd199b9cc5410cd3b1ad21cab2e54d3 {
    position: relative;
    z-index: 10;
    display: block;
    width: 600px;


}


@media(max-width:1200px) {
    .contacts {
        &__item:last-child {
            margin-right: 0;
            padding: 50px 80px;
        }
    }
}

@media(max-width:1023px) {
    .contacts {
        &__row {
            flex-direction: column;
            align-items: center;
        }

        &__item {
            flex-basis: 100%;
        }
    }

    .map-border {
        margin-bottom: 50px;
        right: 0;

        &::before {
            content: '';
            position: absolute;
            top: 25px;
            right: 25px;
            bottom: 0;
            left: 0;
            border: 1px solid #000C31;
            border-radius: 20px;
            left: -25px;
            bottom: -25px;
        }
    }
}

@media(max-width:768px) {
    #map-9cd199b9cc5410cd3b1ad21cab2e54d3 {
        width: 500px;
    }
}

@media(max-width:550px) {
    #map-9cd199b9cc5410cd3b1ad21cab2e54d3 {
        width: 100%;
    }

    .contacts {
        &__item:last-child {
            position: relative;
            background: #FFFFFF;
            box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
            border-radius: 26px;
            padding: 50px 20px;



            &::before {
               display: none;
            }

            &:after {
                content: '';
                position: absolute;
                bottom: -90px;
                right: -90px;
                width: 140px;
                height: 140px;
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url(../img/svg/circle-square.svg);
            }
        }
    }
}