.catalog {
    padding: 5rem 0;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex-basis: calc(33.333% - 10px);
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 9.95334px 29.0306px rgba(0, 0, 0, 0.2);
        border-radius: 21.5656px;
        padding: 30px 15px;

        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 20px;
        text-transform: uppercase;
    }

    &__cost {
        font-family: Roboto;
        font-weight: 900;
        font-size: 22px;
        text-transform: uppercase;
        color: #6A6464;
        margin-top: auto;
    }

    &__img-div {
        margin-bottom: auto;
        margin-top: 2rem;
    }

    &__btn {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        width: 100%;
        

        button {
            width: 100%;
            max-width: 75%;
        }
    }
}

@media(max-width:1150px) {
    .catalog {
        &__title {
            font-size: 18px;
        }
    }
}

@media(max-width:1023px) {
    .catalog {

        &__row {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            max-width: 600px;
        }

        &__item:not(:first-child) {
            margin-top: 3rem;
        }

        &__btn {
            button {
                max-width: 95%;
            }
        }
    }
}

@media(max-width:425px) {
    .catalog {
        &__title {
            font-size: 16px;
        }

        &__cost {
            font-size: 18px;
        }
    }
}