.delivery {
    padding: 4rem 0;

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__row:not(:first-child) {
        margin-top: 80px;
        justify-content: center;
    }

    &__row:first-child {
        position: relative;
        z-index: 2;

        .delivery__item:first-child {
            &::before {
                content: '';
                position: absolute;
                z-index: -1;
                transform: translate(-40%, 40%);
                bottom: 0;
                left: 0;
                width: 176px;
                height: 176px;
                border-radius: 50%;
                background: #FDFDFD;
                opacity: 0.5;
                box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.25);
            }
        }

    }

    &__item {
        max-width: 765px;
        flex-basis: 50%;
        background: #DEDFE9;
        box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
        border-radius: 26px;
        padding: 50px;
        background-image: url(../img/bg/ccc-bg.png);
        background-size: cover;
        background-position: 50% 50%;

        &_m-region {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-image: url(../img/svg/rect-title.svg);
                width: 150px;
                height: 150px;
                background-size: contain;
                background-repeat: no-repeat;
                right: -75px;
                height: -25px;
            }
        }

        &_region {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-image: url(../img/svg/rect-title.svg);
                width: 75px;
                height: 75px;
                background-size: contain;
                background-repeat: no-repeat;
                right: -25px;
                top: -25px;
            }
        }
    }

    &__item:first-child {
        position: relative;
        margin-right: 70px;



    }

    &__title {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;

        color: #414141;
    }

    &__text {
        margin-top: 50px;
        position: relative;

        font-family: Roboto;
        font-style: normal;
        font-size: 18px;
        line-height: 21px;

        color: #6A6464;

        p:not(:first-child) {
            margin-top: 1rem;
        }
    }
}


.fw500_delivery {
    color: #414141;
    font-weight: 500;
}

@media(max-width:1024px) {
    .delivery {
        &__row {
            flex-direction: column;
            max-width: 765px;
            margin-left: auto;
            margin-right: auto;
        }



        &__row:last-child {
            margin-top: 0;
        }

        &__item:first-child {
            margin-right: 0;
        }


        &__item {
            margin-top: 3rem;

            background: #DEDFE9;
            box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.2);
            border-radius: 26px;
            padding: 45px 30px;

            &_m-region {
                position: relative;

                &::after {
                    display: none;
                }
            }

            &_region {
                position: relative;

                &::after {
                    display: none;
                }
            }
        }
    }
}

@media(max-width:550px) {
    .delivery__item:first-child {
        &::before {
            display: none;
        }
    }
}