// @font-face {
//     font-family: 'helveticaneuecyrlight';
//     src: url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
//         url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }



@font-face {
    font-family: 'Vin_Slab_Pro_Light';
    src: url("../fonts/VinSlabPro-Light.woff2") format("woff2"),
        url("../fonts/VinSlabPro-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}